@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  [class$="alpha-banner"] {
    @apply right-auto left-1/2 -translate-x-1/2 top-auto bottom-6 max-w-[600px] text-sm rounded-[10px];
  }

  .minimap {
    @apply absolute bottom-6 left-6 w-1/2 max-w-[320px] aspect-square rounded-[10px] overflow-hidden shadow-[5px_2px_20px_rgba(0,0,0,0.6)];
  }
}
